[project]
name = "beats_swing"
version = "0.1.4"
description = "Determine the tempo of an mp3 song. Tweaked for swing music."
authors = [
    {name = "Elvijs Sarkans", email = "elvijs.sarkans@gmail.com"}
]
readme = "README.md"
requires-python = ">=3.11"

packages = [
    { include = "beats", from = "src" },
]

dependencies = [
    "librosa>=0.10.2,<1",
]

classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.scripts]
beats = "beats.cli:main"

[project.urls]
repository = "https://github.com/elvijs/beats"
homepage = "https://github.com/elvijs/beats"
issues = "https://github.com/elvijs/beats/issues"


[tool.pytest.ini_options]
testpaths = [
    "tests"
]


[tool.coverage.paths]
source = ["src"]
tests = ["tests"]


[tool.coverage.run]
branch = true
source = ["beats", "tests"]


[tool.coverage.report]
show_missing = true
fail_under = 100


[tool.isort]
profile = "black"
force_single_line = true
lines_after_imports = 2


[tool.mypy]
strict = true
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_context = true
ignore_missing_imports = true


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/beats"]
